<ion-view view-title="Contacts us">
	  <ion-content>
				<div class="list card">

					  <a href="http://tyagilaluprashad4.wix.com/lptyagi" target="_blank" class="item item-icon-left">
						<i class="icon ion-ios-world"></i>
						tyagilaluprashad4.wix.com/lptyagi
					  </a>

					  <a href="tel:07048351338" class="item item-icon-left">
						<i class="icon ion-ios-telephone"></i>
						+91 7048351338
					  </a>

					  <a href="mailto:laluprasad.tyagi@yahoo.com?Subject=app_hello%20again" target="_blank" class="item item-icon-left">
						<i class="icon ion-email"></i>
						 laluprasad.tyagi@yahoo.com
					  </a>
					<div class = "row">
					  <div class = "col"> 
                        <a href="http://www.facebook.com/tyagilaluprashad" target="_blank" class="item item-icon-left">
                            <i class="icon ion-social-facebook" style="color:blue"></i>						 
					  </a>					
					  </div class = "col"> 
					<div class = "col"> 
						 <a href="https://in.linkedin.com/in/lalu-prasad-27111859" target="_blank" class="item item-icon-left">
                            <i class="icon ion-social-linkedin-outline" style="color:blue"></i>					 
					  </a>		
					</div class = "col"> 
					<div class = "col"> 
						 <a href="intent://send/4912345678#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end"  class="item item-icon-left">
                          <i class="icon ion-social-whatsapp-outline" style="color:green">	</i>				  
                         </a>		
					
                     </button>
					</div class = "col"> 
					
				  </div class = "row">

					</div>
	  <ion-content >
	            <div id="map" data-tap-disabled="true"></div>
	  </ion-content>
</ion-view>
