<ion-view view-title="My App" style="color:green">
	
  <ion-content ng-init="load()">
    <div class = "row">
	    <div class = "col"> 
		   <button class="button-light" style="background-color:royalblue" ng-click="newTask()">
             Add user
           </button>
        </div>
	  
        <!--div class = "col"> 
		   <button class="button-light" style="background-color:blue" ng-click="show()">
             Event
           </button-->
        </div>
    </div>
    
     <div ng-show="formShow">
		 
	       <form name="questonForm" ng-submit="save(questonForm)" novalidate>
			   <div align="center"> Add Details Form</div>
			   <br>
				<div align="center">
					 <input type="text" name="name"  class="text-input--material" ng-model="user.name"  placeholder="Enter name">
			    </div>
			    <div align="center">
					 <input type="text" name="address"  class="text-input--material" ng-model="user.address"  placeholder="Enter address">
			    </div>
			    <div align="center">
					 <input type="date" name="bday"  class="text-input--material" ng-model="user.bday"  placeholder="Enter birth date">
			    </div>
			    <div align="center">
					 <input type="text" name="education1"  class="text-input--material" ng-model="user.education1"  placeholder="Enter education 1">
			    </div>
			    <div align="center">
					 <input type="text" name="education2"  class="text-input--material" ng-model="user.education2"  placeholder="Enter education 2">
			    </div>
			    
			    <div class = "row">
					<div class = "col"> 
					   <button class="button button-block" ng-click="cancel()">
						 Cancel
					   </button>
					</div>
				   <div class = "col">  
					   <button class="button button-block" ng-click="submit(user)">
						 Submit
					   </button>
					</div>
				</div>		 
			</form>
    </div>
    
    
		   
	    </div>
	     
    </div>

		<ion-list>
		  <ion-item ng-repeat="user in users">
			{{user}}!
		  </ion-item>
		</ion-list>


  
  </ion-content>
  
</ion-view>
