<ion-view view-title="Profile">
	  <ion-content>
				<div class="list card">
					
					
					<div align="center" ng-if="profile != null">
                      <img ng-src="{{profile.image}}"  style="width:40%" />
                    </div>
					<label class="item item-input">
						<span class="input-label">Name</span>
						<input type="text" ng-model="profile.name">
					</label>
					<label class="item item-input">
						<span class="input-label">Mobile</span>
						<input type="number" ng-model="profile.mobile">
					</label>
					<label class="item item-input">
						<span class="input-label">Email</span>
						<input type="text" ng-model="profile.email">
					</label>
					
					<!--label class="item item-input">
						<button class="button button-block button-positive" ng-click="createUser()">
							Sign Up
						</button>
					</label-->
				</div>
				
	  </ion-content>
</ion-view>
